* {
  font-family: open sans;
  box-sizing: border-box;
  border-radius: 4px;
}

.title {
  font-size: 72px;
  line-height: 79px;
  display: flex;
  align-items: flex-end;
  color: #373a3c;
  margin-top: 100px;
}
.calculation {
  font-size: 24px;
  line-height: 24px;
  display: block;
  margin-top: 40px;
}
.title,
.calculation {
  display: flex;
  align-items: center;
  color: #373a3c;
  font-family: open sans;
  font-style: normal;
  font-weight: normal;
}

.fibBox {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 38px;
  width: 86px;
  margin-left: 14px;
}
.fibBoxSearch {
  background: #0275d8;
  border: 1px solid #0275d8;
  box-sizing: border-box;
  border-radius: 4px;
  height: 38px;
  width: 39px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-left: 16px;
}

.result {
  font-size: 24px;
  line-height: 24px;
  display: inline-block;
  font-weight: bold;
  text-decoration-line: underline;
  color: #373a3c;
  margin-left: 14px;
}

.spinner,
.spinner2 {
  margin-left: 10px;
  border-radius: 50%;
  border: 3px solid black;
  border-top: 4px solid white;
  width: 35px;
  animation: spin 2s linear infinite;
  height: 35px;
}
.spinner2 {
  display: inline-block;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

.ErrorBox {
  position: relative;
  width: 180px;
  height: 33px;
  background: #f2dede;
  border: 1px solid #ebcccc;
  border-radius: 4px;
  left: 115px;
  margin-top: 15px;
  vertical-align: middle;
  align-items: center;
  text-align: left;
}

.ErrorBoxText {
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  line-height: 110%;
  color: #a94442;
  margin-top: 8px;
  margin-left: 5px;
}
.FortyTwoError {
  font-size: 16px;
  color: #d9534f;
  margin-left: 35px;
  margin-bottom: 7px;
}

.show {
  display: inline-block;
}
.ResultsCalculator {
  margin-top: 48px;
  font-size: 54px;
  line-height: 72px;
  color: #373a3c;
}
.allResults {
  margin-top: 60px;
}
.bottomLine {
  border-bottom: 1px solid #000000;
}
.saveBox {
  position: relative;
  margin-top: 15px;
}
.saveText {
  font-size: 16px;
  margin-left: 6px;
  margin-top: 2px;
  position: absolute;
}
.bottomLine {
  font-size: 24px;
  line-height: 24px;
  color: #373a3c;
}
