* {
  font-family: open sans;
  box-sizing: border-box;
  border-radius: 4px;
}

.title {
  font-size: 72px;
  line-height: 79px;
  display: flex;
  align-items: flex-end;
  color: #373a3c;
  margin-top: 100px;
}
.calculation {
  font-size: 24px;
  line-height: 24px;
  display: block;
  margin-top: 40px;
}
.title,
.calculation {
  display: flex;
  align-items: flex-end;
  color: #373a3c;
  font-family: open sans;
  font-style: normal;
  font-weight: normal;
}

.fibBox {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 38px;
  width: 86px;
  margin-left: 14px;
}
.fibBoxSearch {
  background: #0275d8;
  border: 1px solid #0275d8;
  box-sizing: border-box;
  border-radius: 4px;
  height: 38px;
  width: 39px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-left: 16px;
}

.result {
  font-size: 24px;
  line-height: 24px;
  display: inline-block;
  font-weight: bold;
  text-decoration-line: underline;
  color: #373a3c;
  margin-left: 14px;
}

.spinner {
  border-radius: 50% !important;
  border: 3px solid black !important;
  border-top: 4px solid white !important;
  width: 35px !important;
  height: 35px !important;
  animation: spin 2s linear infinite !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

.ErrorBox {
  position: relative;
  width: 180px;
  height: 33px;
  background: #f2dede;
  border: 1px solid #ebcccc;
  border-radius: 4px;
  left: 115px;
  margin-top: 15px;
  vertical-align: middle;
  align-items: center;
  text-align: left;
}

.ErrorBoxText {
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  line-height: 110%;
  color: #a94442;
  margin-top: 8px;
  margin-left: 5px;
}
.FortyTwoError {
  width: 277px;
  height: 24px;
  left: 525px;
  top: 236px;
  font-size: 16px;
  color: #d9534f;
}

.show {
  display: inline-block;
}
